extends layout

block content
  h1 Welcome #{user}
  p Here are some interestingevents we found for you in #{lat} and #{long}.
  for event in events
    p= event.name.text
    p= event.description.text
