extends layout

block content
  h1 List of events
  p Here are some interesting events we found for you at #{lat} and #{long} within #{radius} miles.
  a(href="/#search") Back to Search
  each event in events
    h2
      a(href=event.url) #{event.title}
    p!= event.description
